<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
	 	<mapper resource="oracle/mybatis/board.xml"/>
	 	<mapper resource="oracle/mybatis/member.xml"/>
	 	<mapper resource="oracle/mybatis/onLineTest.xml"/>
	 	<!-- <mapper resource="oracle/mybatis/zipcode.xml"/> -->
	</mappers>
</configuration>